.root {
  --row-height: 200px;
  @apply grid grid-cols-2 md:grid-cols-3 lg:grid-rows-2 gap-0;
  min-height: var(--row-height);
  & > * {
    @apply row-span-1 bg-transparent box-border;
    @apply lg:col-span-1;
    @screen lg {
      height: inherit;
    }
  }
}

.default {
  & > * {
    @apply bg-transparent;
  }
}

.layoutNormal {
  @apply gap-x-3 gap-y-6 md:gap-y-12;
  & > * {
    min-height: 325px;
  }
}
