@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */
.animated {
  -webkit-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  -webkit-animation-fill-mode: var(--animation-fill-mode);
  animation-fill-mode: var(--animation-fill-mode);
}

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

:root {
  /* header */
  --header-height: 62px;
  @screen lg {
    --header-height: 80px;
  }

  /* font size */
  --max-size: 16;
  --min-size: 14;
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc(var(--min-size) * 1px + var(--diff) * (0.08333vw - 0.3px));

  font-size: var(--responsive);
  @apply lg:text-[15.36px];

  /* font */
  --font-body: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-heading: 'Abril Fatface', cursive;
  font-family: var(--font-body);
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;

  background: #fff;
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-size: 0.96rem;
  line-height: 1.8;
  color: #6c757d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.5;
}
